/* styles.css */

@font-face {
  font-family: 'Inkulinati';
  src: url('Inkulinati-Regular.otf');
}

@font-face {
  font-family: 'OldStandardBold';
  src: url('OldStandardBold.otf');
}

@font-face {
  font-family: 'Molodo';
  src: url('Molodo-font.otf');
}

body {
  margin: 0;
  padding: 0;
}

#svgContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

#notification {
  display: none;
  position: fixed;
  top: 0;
  right: -25%; /* Change from 0 to -25% */
  bottom: 0;
  width: 25%;
  max-width: 400px;
  padding: 20px;
  background-color: #313338;
  border: 2px solid #000;
  border-radius: 5px;
  font-family: 'Inkulinati', Arial, sans-serif;
  color: #E0B711;
  text-align: center;
  overflow-y: auto;
  transition: right 0.8s ease; /* Add transition property */
}
#notification::-webkit-scrollbar {
  width: 5px;
}

#notification::-webkit-scrollbar-thumb {
  background-color: #E0B711;
}

#notification #descriptionContainer {
  text-align: left;
  margin-top: 20px;
  color: #FFF;
  font-size: 18px;
}

#notification #descriptionText,
#notification .descriptionTextContinued {
  font-family: 'Inkulinati', Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

#notification #bearImage,
#notification #townImage {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

#notification.open {
  display: block;
  right: 0; /* Remove animation property */
}

#notification.closed {
  right: -25%; /* Change from 0 to -25% */
}

@keyframes highlightEffect {
  0% {
    stroke-dashoffset: 540;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.highlight {
  fill: yellow;
  stroke: white;
  stroke-width: 10;
  stroke-dasharray: 10;
  animation: highlightEffect 10s linear infinite;
  stroke-opacity: 11.7;
  font-weight: tall;
}

.highlight text {
  stroke-width: 21;
  stroke-opacity: 11;
  font-weight: bold;
}
